# Q1:

In [7]:
x = input("Give the % of marks:")
y = float(x)
if y>90:
    print("Your Grade : {}".format('A'))
if y<=90 and y>80:
    print("Your Grade : {}".format('B'))
if y<=80 and y>=60:
    print("Your Grade : {}".format('C'))
if y<60:
    print("Your Grade : {}".format('D'))

Give the % of marks:85
Your Grade : B

# Q2:

In [22]:
cp = input("Give The Cost Price of the Bike :")
n = float(cp)
if n>100000:
    rt = (15/100)*n
    print("Your Road Tax1  : {}".format(rt))
    
    
    
if  (50000<n<=100000):
    rt = (10/100)*n
    print("Your Road Tax2 : {}".format(rt))
    
    
if n<=50000:
    rt = (5/100)*n
    print("Your Road Tax3 : {}".format(rt))

Give The Cost Price of the Bike :278990.78
Your Road Tax1  : 41848.617000000006

# Q3:

In [40]:
city = input("Give The City Name  :")

if city=='Delhi':
    print("Monument : {}".format('Red Fort'))
    
if city=='Agra':
    print("Monument : {}".format('Taj Mehal'))
    

if city=='Jaipur' :
    print("Monument : {}".format('Jal Mehal'))

Give The City Name  :Delhi
Monument : Red Fort

# Q4:

In [6]:
n = int(input("Give Any positive Number : "))
num   = n/3
count = 0
while num>=10:
    count+=1
    print("count : {} ,  Quotient : {}".format(count,num))
    num = num/3
    
    
print("Finally count : {} , Quotient : {}".format(count,num))

Give Any positive Number : 235678945
count : 1 ,  Quotient : 78559648.33333333
count : 2 ,  Quotient : 26186549.444444444
count : 3 ,  Quotient : 8728849.814814815
count : 4 ,  Quotient : 2909616.604938272
count : 5 ,  Quotient : 969872.2016460906
count : 6 ,  Quotient : 323290.7338820302
count : 7 ,  Quotient : 107763.57796067673
count : 8 ,  Quotient : 35921.19265355891
count : 9 ,  Quotient : 11973.730884519637
count : 10 ,  Quotient : 3991.243628173212
count : 11 ,  Quotient : 1330.414542724404
count : 12 ,  Quotient : 443.471514241468
count : 13 ,  Quotient : 147.82383808048934
count : 14 ,  Quotient : 49.274612693496444
count : 15 ,  Quotient : 16.424870897832147
Finally count : 15 , Quotient : 5.474956965944049

# Q5:

# Why and when to use while Loop in python give a detailed discription with example.

Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

In [7]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

# Q6:

In [9]:
i=1
while i<=5:
    j=1
    while j<=i:
        print('*',end=" ")
        j=j+1
    print("")
    i=i+1

*
* *
* * *
* * * *
* * * * *

# Q7:

In [10]:
n = 10
while n>=1:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

# Q8:

In [11]:
n = 10
while n>=1:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

____________________________________________________________________________

                            Completed The 30_Jan_Assignments
_____________________________________________________________________________                            __